<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List Customer</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h2>Add Customer</h2>
    <hr/>
    <form  th:action="@{/customer/save}" th:object="${customer}" method="POST">

        <input type="text" th:field="*{id}"  placeholder="id" class="form-control col-4 mb-4 " />
        <span  th:if="${#fields.hasErrors('id')}"  th:errors="*{id}"> invalid id</span>


        <input type="text" th:field="*{customerName}" placeholder="Customer Name" class="form-control col-4 mb-4 "/>

        <span  th:if="${#fields.hasErrors('customerName')}"  th:errors="*{customerName}"> invalid name</span>
        <input type="text" th:field="*{customerEmail}" placeholder="Customer Email "class="form-control col-4 mb-4 "/>
        <span  th:if="${#fields.hasErrors('customerEmail')}"  th:errors="*{customerEmail}"> invalid id</span>
        <input type="text" th:field="*{customerPhone}" placeholder="Customer Phone" class="form-control col-4 mb-4 "/>
        <span  th:if="${#fields.hasErrors('customerPhone')}"  th:errors="*{customerPhone}"> invalid id</span>
        <br>

        <button class="btn btn-primary" type="submit">Save</button>

    </form>
    </hr>
    <a th:href="@{/customer/showCustomer}">Back to List</a>

</div>
</body>
</html>